html, body, .hitagi, .sections {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: auto;
  border: 0;
  color: #333;
  font-size: 18px !important;
  position: relative;
  transition: 1000ms cubic-bezier(.72, 0, .23, 1.41);
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  overflow-x: hidden;
}

.hitagi {
  width: 400%;
}

.sections {
  min-height: unset;
  background: none;
  height: 100vh;
  top: 0;
  overflow: hidden;
  float: left;
  width: 25%;
}

a {
  text-decoration: none;
}

*, :before, :after {
  box-sizing: border-box;
}

#nav {
  position: fixed !important; /* cover page.css */
  left: 0;
  top: 0 !important; /* cover page.css */
  width: 100vw;
  line-height: 2em;
  padding: .5em 0 0 1em;
  z-index: 141;
  transform: translate3d(0, 0, 999);
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nav a {
  transition: 1000ms cubic-bezier(.72, 0, .23, 1.41);
  color: #fff;
  font-size: 1em;
  margin: 0 1em;
  font-weight: 500;
}

.hitagi {
  transition: .64s cubic-bezier(.72, 0, .23, 1.41);
}

/* nav-id=home */

.sections[nav-id=home] {
}

#gomoku {
  background: url("../img/gomoku.png") no-repeat center;
  background-size: contain;
  background-clip: content-box;
  display: inline-block;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  margin: 0 1em;
  border: .7em solid rgba(255, 255, 255, 0.41);
  vertical-align: middle !important;
  transition: transform 1s ease-in-out;
}

#gomoku:hover {
  transform: rotate(180deg);
}

.cat {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cat pre {
  text-align: left;
  display: inline-block;
  opacity: .5;
  border-right: 1em solid #66c0cc;
  vertical-align: middle !important;
  transition: opacity 1s;
  cursor: pointer;
}

.cat pre:hover {
  opacity: .81;
}

.cat pre code {
  padding: 1em;
  font-size: 1em;
  white-space: pre !important;
}

/* nav-id=about */

.sections[nav-id=about] {
}

.san {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
  transition: 1s cubic-bezier(.72, 0, .23, 1.41);
}

.san .jou {
  /* order: <integer> */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 20em;
  min-height: 10em;
  background: #fff;
  display: block;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.san a.down {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  transition: 1.41s cubic-bezier(0.41, 0, 0, 1.41);
  height: 3em;
  width: 3em;
  text-align: center;
  color: #233;
  text-decoration: none;
}

.san a.down:hover {
  position: relative;
  cursor: pointer;
  color: #233;
  padding-top: 1em;
}

#assorted .jou {
  padding: 2em;
  margin: 1em;
  border: 1px solid rgba(20, 17, 65, 0.14);
}

#about{
  flex-direction: row;
  align-items: flex-start;
}

#about .jou {
  padding: 4em 3em;
  margin:8em 0;
  max-width: 800px !important;
}

.jou ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.8em;
}

.jou ul li {
  display: inline-block;
  min-width: 50%;
  padding: 0;
  margin: 0;
  float: left;
}

#assorted ul li i {
  color: #81D3DC;
}

/* friends */

.sections[nav-id=friends] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  padding: 6em 1px;
}

.hara {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 1em;
  margin-top: 16px;
  width: 100vw;
  height: auto;
}

.hara a {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.14);
  padding: 16px;
  text-decoration: none;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.img {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  margin: 24px auto 12px;
}

.jsery {
  line-height: 1em;
  max-height: 2em;
  text-align: center;
  font-size: 1.5em;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  margin: 1em auto 1em;
}

/* comments */

.sections[nav-id=comments] {
  padding: 8em 0;
}

#vcomments {
  max-width: 800px !important;
  margin: 0 auto;
}

#iframe {
  width: 100%;
  height: calc(100vh - 50px);
  margin: 50px 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (min-width:440px) {
  .sections[nav-id=friends] {
    padding: 10em 10vw;
  }
  .hara {
    width: 220px;
    width: calc(50% - 12px);
    margin-left: 16px;
    margin-right: 0;
  }
  .hara:nth-child(2n+1) {
    margin-left: 0;
  }
  .hara a {
    border-radius: 2px;
  }
}

@media only screen and (min-width:1024px) {
  .sections[nav-id=friends] {
    padding: 15vh 15vw;
  }
  .hara {
    width: 152px;
    width: calc(25% - 12px);
    margin-left: 16px;
    margin-right: 0;
  }
  .hara:nth-child(4n+1) {
    margin-left: 0;
  }
  .hara:nth-child(4n+3) {
    margin-left: 16px;
  }
}

/* nav */
/* nya-home
 * nya-friends
 * nya-about
 * nya-comments */

#nya-home .sections[nav-id=home] {
  height: 100vh;
}

#nya-about .sections[nav-id=about],
#nya-friends .sections[nav-id=friends],
#nya-comments .sections[nav-id=comments] {
  height: auto;
}

#nya-comments .hitagi {
  transform: translate3d(-75%, 0, 0);
}

#nya-about .hitagi {
  transform: translate3d(-50%, 0, 0);
}

#nya-friends .hitagi {
  transform: translate3d(-25%, 0, 0);
}

#nya-home {
  background: rgba(53, 53, 53, 1);
}

#nya-about #nav a,
#nya-friends #nav a,
#nya-comments #nav a,
#nya-about .copyright,
#nya-friends .copyright,
#nya-comments .copyright {
  color: #333;
}

#nya-about {
  background: #f1f1f1;
}

#nya-friends {
  background: #fff;
}

#nya-comments {
  background: #fff;
}

/* footer */

.copyright {
  padding: 1em 2em;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100vw;
}
.copyright a {
  color: #00a1d6;
}